.notebook-bg {
  background-color: #fefcbf;
  background-image: linear-gradient(to bottom, transparent 24px, #a5b4fc 25px);
  background-size: 100% 25px;
  line-height: 25px;
  padding-top: 2px;
}

.dark .notebook-bg {
  background-color: #27272A; /* Cor de fundo do painel */
  background-image: linear-gradient(to bottom, transparent 24px, #3F3F46 25px); /* Cor das linhas */
  color: #F4F4F5; /* Cor do texto principal */
}
