.toast-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha os toasts à direita */
  gap: 0.75rem;
  /* Define uma largura máxima, mas permite que seja menor */
  max-width: calc(100% - 3rem);
}

.toast-message {
  min-width: 0;
}

.toast-icon {
  flex-shrink: 0;
}

.toast-success {
  background-color: #f0fdf4; /* green-50 */
}

.toast-error {
  background-color: #fef2f2; /* red-50 */
}