.toast-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha os toasts à direita */
  gap: 0.75rem;
  width: 100%;
  /* Define uma largura máxima, mas permite que seja menor */
  max-width: calc(100% - 3rem);
}

.toast-message {
  min-width: 0;
}

.toast-icon {
  flex-shrink: 0;
}

.toast-success {
  background-color: #f0fdf4; /* green-50 */
}
.dark .toast-success {
  background-color: #166534; /* green-700 */
}

.toast-error {
  background-color: #fef2f2; /* red-50 */
}
.dark .toast-error {
  background-color: #b91c1c; /* red-700 */
}

.toast-info {
  background-color: #eff6ff; /* blue-50 */
}
.dark .toast-info {
  background-color: #1e40af; /* blue-700 */
}