<footer class="bg-background dark:bg-dark-primary text-text dark:text-white shadow-2xl p-4 mt-auto rounded-t-3xl transition-colors duration-300">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center text-center md:text-left gap-4">
    <div>
      <p>&copy; 2025 CapyCro AvecTech. <br> Todos os direitos reservados.</p>
    </div>
    <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-4">
      <a routerLink="/terms-of-use" class="hover:text-neutral">Termos de Uso</a>
      <a [routerLink]="['/privacy-policy']" class="hover:text-neutral">Política de Privacidade</a>
      <a routerLink="/bug-report" class="flex items-center gap-2 hover:text-neutral">
        <span>Relatar Problemas</span>
        <lucide-icon name="bug" class="stroke-current" size="20"></lucide-icon>
      </a>
    </div>
  </div>
</footer>
