@import 'prosemirror-view/style/prosemirror.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font variables */
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Inconsolata', monospace;

    /* Default font settings, controlled by ThemeService */
    --font-family: var(--font-sans);
    --font-size: 16px;
  }

  body {
    @apply bg-background dark:bg-dark-primary;
  }

  .high-contrast {
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-accent: #00ff00;
    --color-text-primary: #ffffff;
    --color-text-secondary: #bbbbbb;
    --color-border: #ffffff;
  }

  body,
  html {
    position: static !important;
    transform: none !important;
  }

  body {
    font-family: var(--font-family);
    font-size: var(--font-size);
  }
}

[routerLink] {
  cursor: pointer;
}