@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .high-contrast {
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-accent: #00ff00;
    --color-text-primary: #ffffff;
    --color-text-secondary: #bbbbbb;
    --color-border: #ffffff;
  }
}

[routerLink] {
  cursor: pointer;
}
